@media only screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    main {
        display: grid;
        place-content: center;
        gap: 20px;
        grid-template:
        "aside7 aside1 aside1 aside4" auto
        "aside7 aside2 aside3 aside4" auto
        "aside8 aside6 aside5 aside5" auto
        / 1fr 1fr 1fr 1fr;
        
        max-width: 1100px;
        padding: 20px;
    }

    .aside1 {
        grid-area: aside1;
    }

    .aside1 h1{
        font-size: 20px;
    }

    .aside1 span{
        font-size: 22px;
    }

    .aside2 {
        grid-area: aside2;
    }

    .aside2 p {
        font-size: 18px;
        font-weight: 500;
    }

    .aside3 {
        grid-area: aside3;
    }

    .aside3 p {
        font-size: 18px;
        font-weight: 500;
    }

    .aside4 {
        grid-area: aside4;
    }

    .aside5 {
        grid-area: aside5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .aside5 img {
        object-fit: cover;
    }

    .aside5 h1 {
        font-size: 20px;
    }

    .aside6 {
        grid-area: aside6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside6 h1 {
        font-size: 25px;
    }

    .aside7 {
        grid-area: aside7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .aside7 h1 {
        font-size: 22px;
        font-weight: 500;
    }

    .aside8 {
        grid-area: aside8;
    }

    .aside8 h1 {
        font-size: 22px;
        font-weight: 500;
    }
}